@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:wght@400;700&display=swap');
:root {
    /* colors */
    --electric: #0079FF;
    --gray: #697C9A;
    --dark-sky: #4B6A9B;
    --dark-blue: #2B3442;
    --light-bg: #F6F8FF;
    --light: #FEFEFE;
    --white: #FFFFFF;
    --dark: #141D2F;
    --semi-dark: #1E2A47;
    --error: #F74646;
    /* font-weight */
    --bald: 400;
    --balder: 700;
}
/* general styling */
.title, .theme-text, .btn,
.error-mobile, .name, .amount {
    font-weight: 700;
}
#user,.login, .join-date,
.bio, .stat-title, .info-text {
    font-weight: 400;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Space Mono', monospace;
    padding: 0 24px;
    background-color: var(--light-bg);
}
.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 31px;
}
.title {
    font-size: 26px;
    line-height: 38.51px;
    color: #222731;
}
.title.dark {
    color: var(--white);
}
.theme-text {
    font-size: 13px;
    line-height: 19.25px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: var();
}
.theme-text.dark {
    color: var(--white);
}
.theme-panel {
    display: flex;
    align-items: center;
    column-gap: 16px;
}
#sun {
    display: none;
}
#moon, #sun {
    cursor: pointer;
}
.card {
    width: 100%;
    background-color: var(--white);
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    border-radius: 15px;
}
.form {
    padding: 7px 7px 7px 16px;
    margin-top: 36px;
    display: flex;
    align-items: center;
}
.card.dark {
    background-color: var(--semi-dark);
    box-shadow: none;
}
.card.dark h2, .card.dark h3:not(.login),
#blog.dark, #twitter.dark,
.bio.dark {
    color: var(--white);
}
#blog:hover {
    text-decoration: underline;
}

#user {
    font-size: 13px;
    line-height: 25px;
    margin-left: 9px;
    outline: none;
    font-family: 'Space Mono', monospace;
    color: #222731;
    width: 184px;
}
#user.dark {
    color: var(--white);
    background-color: transparent;
}
#user::placeholder {
    color: var(--dark-sky);
}
#user.dark::placeholder {
    color: var(--white);
}
.btn {
    padding: 12px 16px;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 20.73px;
    color: var(--white);
    background-color: var(--electric);
    cursor: pointer;
    border-radius: 10px;
    margin-left: auto;
}
.btn:hover {
    background-color: #60ABFF;
    transition: all 0.5s ease-out;
}
.error-mobile {
    margin-top: 10px;
    font-size: 15px;
    line-height: 22px;
    color: var(--error);
    height: 24px;
    margin: 1px auto 1px 1px;
}
.error-desktop {
    display: none;
}
.user-info {
    padding: 32px 24px 48px 24px;
}
.avatar-desktop {
    display: none;
    width: 117px;
    height: 117px;
    border-radius: 50%;
}
.info {
    width: 100%;
}
.general {
    display: flex;
    align-items: center;
    column-gap: 19px;
}
.avatar-mobile {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.name {
    font-size: 16px;
    line-height: 23.7px;
    color: var(--dark-blue);
    text-transform: capitalize;
}
.login {
    font-size: 13px;
    line-height: 19.25px;
    color: var(--electric);
}
.join-date {
    font-size: 13px;
    line-height: 19.25px;
    color: var(--gray);
    margin-top: 6px;
}
.bio {
    font-size: 13px;
    line-height: 25px;
    color: var(--dark-sky);
    margin-top: 33px;
}
.stats {
    width: 100%;
    border-radius: 10px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-bg);
    margin-top: 23px;
    column-gap: 30px;
}
.stat {
    text-align: center;
}
.stat-title {
    font-size: 11px;
    line-height: 11.29px;
    color: var(--dark-sky);
    text-transform: capitalize;
}
.amount {
    font-size: 16px;
    line-height: 23.7px;
    margin-top: 8px;
}

.join-date {
  font-size: 13px;
  line-height: 19.25px;
  color: var(--gray);
  margin-top: 6px;
}

.bio {
  font-size: 13px;
  line-height: 25px;
  color: var(--darkSky);
  margin-top: 33px;
}

.stats {
  width: 100%;
  border-radius: 10px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightBg);
  margin-top: 23px;
  column-gap: 30px;
}

.stats.dark {
  background-color: var(--dark);
}

.stat {
  text-align: center;
}

.stat-title {
  font-size: 11px;
  line-height: 16.29px;
  color: var(--darkSky);
  text-transform: capitalize;
}

.amount {
  font-size: 16px;
  line-height: 23.7px;
  margin-top: 8px;
}

.infos {
    margin-top: 24px;
    display: grid;
    grid-template-columns: auto;
    row-gap: 17px;
}
.info {
    position: relative;
}
.info-text {
    font-size: 13px;
    line-height: 19.25px;
    color: var(--dark-sky);
    position: absolute;
    top: 0;
    left: 33px;
}
.location-link {
    text-decoration: none;
}

.name.dark, .join-date.dark, 
.bio.dark {
    color: var(--white);
}


